<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secret</title>

</head>
<body>
{% extends "navbar.html" %}
{% block content %}
<h1 style="font-size: 60px;">Congrats you found him</h1>
<center>
<div class="youtube" style="padding: 15px;">
<iframe width="896" height="504" src="https://www.youtube.com/embed/6Dc_9nykEuw;&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</center>




{% endblock %}
</body>
</html>