<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Active Users</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
{% extends "navbar.html" %}
{% block content %}
<h2>Total Users: {{total}}</h2>

<table id="userinfo">

   <tr class="userheader">
       <th>Username</th>
       <th>Name</th>
       <th>Age</th>

   </tr>
{% for user in users %}
<tr class="userdata">
    <td>{{user.username}}</td>
    <td>{{user.name}}</td>
    <td>{{user.age}}</td>
</tr>
{%endfor%}
{% endblock %}
</table>
</body>
</html>